#outputs

NET "wave[0]" LOC="B2";
NET "wave[1]" LOC="A3";
NET "wave[2]" LOC="J3";
NET "wave[3]" LOC="B5";
NET "wave[4]" LOC="C6";
NET "wave[5]" LOC="B6";
NET "wave[6]" LOC="C5";
NET "wave[7]" LOC="B7";

#inputs

NET "t0" LOC="N3";
NET "t1" LOC="E2";
NET "t2" LOC="F3";
NET "t3" LOC="G3";
NET "t4" LOC="B4";
NET "t5" LOC="K3";
NET "t6" LOC="L3";
NET "t7" LOC="P11";
NET "clk" LOC="B8";
